.column1{
    resize: both;
}

body {
    display: flex;
    flex-flow: row;
}

img{
    width: 100%;
    height: 30%;
    margin-bottom: 10%;
}
body{
    background-color: #ececec;
    font-family: 'Lexend Deca', sans-serif;
    
}

.skills {
    margin-left: 40px;
}

.background {
    margin-left: 40px;
}

.text {
    display: flex;
    flex-flow: column;
}